<!-- {{propertyname}} {propertyName} jsx dosyasında olan değer burada template yazılır -->

<!-- component.html dosyasına component template diyoruz -->
<!-- property binding -->

<!-- elementin bir stilini değiştirmiş olduk -->
<p appTextBold>
  {{title}}
</p>

<div appTextBold>
  Div 1
</div>

<!-- elementin event değerini yokllaya bilmek için angularda $event denilen bir özel servis var -->
<!-- (input) ise her bir keypress durumunu algılar -->
<!-- [value] attribute age değerini input değeri bind ettik. -->
<!-- input value age bağladık reactjs de state değerini value={stateProp} benzer bir yöntem two way binding yapmak için -->
<input [value]="age" placeholder="yaşınızı giriniz" (change)="onAgeChange($event)">

<span>
  {{age}} yaştaki kişi : {{age | generation }}
</span>

<!-- | pipe işareti ile ilgili pipe dosya ismi çağırılara tempate de veri değişimi sağlandı -->

<!-- html üzerinde age değerine göre generationText oluşturma yöntemi var. Veriyi transform edip başka bir formata çeviren yapılara pipe diyoruz -->

<!-- {{generationText}} -->


<!-- age pipe yaş değeri 13 ile 22 z kuşağı -->
<!-- yaş değeri 13 den küçük alfa kuşağı -->
<!-- yaş değeri 22 arası 35 arası y kuşağı -->
<!-- yaş değeri 35 ile 45 arası x kuşağı -->
<!-- yaş değeri 45 üstü arası yaşlı -->


<!-- <button onClick={funcName} react jsx dosyası -->
<!-- event binding (eventName) şeklinde angularda tanımlanır -->
<button (click)="onClick()">Yaş değiştir </button>

<hr>

<!-- Built-in pipeları kullanrız. -->
<div>
  <p>
    Kişi : {{person.firstname | titlecase}} {{person.lastname | uppercase}}
  </p>
  <p>
    Doğum Tarihi : {{person.dateOfBirth | date:'dd/MM/yy HH:mm'}}
  </p>
  <p>
    Yıllık Kazanç : {{ person.yearlySallary | currency:'$' }}
  </p>
  <p>
    Oy sayısı : {{person.numberOfVote | number}}
  </p>
</div>


<!-- template üzerinde elementlere yeni özellikler kazandırdığımız yapılarımız var buna directive diyoruz -->